###############################################################
# SQL Server
###############################################################

DB_NAME=AlkonofBackendDb
DB_USER=sa
DB_PASSWORD=AlkonofSql@2026_StrongPassword!

###############################################################
# JWT
###############################################################

JWT_KEY=ReplaceWithVeryLongSecretKeyAtLeast64CharactersLong
JWT_ISSUER=AlkonofBackend
JWT_AUDIENCE=AlkonofClients

###############################################################
# ASP.NET Core
###############################################################

ASPNETCORE_ENVIRONMENT=Production

###############################################################
# Docker
###############################################################

API_HTTP_PORT=7169
SQL_PORT=1433

###############################################################
# RabbitMQ
###############################################################
RABBITMQ_USER=alkonof
RABBITMQ_PASSWORD=SomePassword34-2=0gj0

###############################################################
# Resend Email
###############################################################
RESEND__APIKEY=
RESEND__FROMADDRESS=

###############################################################
# App
###############################################################
ASPNETCORE_URLS=http://localhost:5100

