###############################################################
# SQL Server
###############################################################

DB_NAME=AlkonofBackendDb
DB_USER=sa
DB_PASSWORD=YourStrongPassword123!

###############################################################
# JWT
###############################################################

JWT_KEY=ReplaceWithVeryLongSecretKeyAtLeast64CharactersLong
JWT_ISSUER=AlkonofBackend
JWT_AUDIENCE=AlkonofClients

###############################################################
# ASP.NET Core
###############################################################

ASPNETCORE_ENVIRONMENT=Development

###############################################################
# Docker
###############################################################

API_HTTP_PORT=7169
SQL_PORT=1433